@font-face {
  font: {
    family: 'SilkscreenNormal';
    weight: normal;
    style: normal;
  }
  src: url('../fonts/slkscr-webfont.woff') format('woff');
}

@font-face {
  font: {
    family: 'SilkscreenBold';
    weight: normal;
    style: normal;
  }
  src: url('../fonts/slkscrb-webfont.woff') format('woff');
}

@mixin current-li {
  background: rgba(0,0,0,0.3);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);
}

.clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font: 11px/14px 'SilkscreenBold', Arial, sans-serif;
}

nav {
  position: fixed;
  top: -85px;
  height: 55px;
  left: 50%;
  width: 960px;
  margin: 10px 0 0 -480px;
  text-align: center;
  color: #fff;
  z-index: 800;
  border: 3px solid #fff;
  border-radius: 30px;
  background: #4f2e26;
  background: -moz-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%, #4f2e26), color-stop(100%, #2a1410));
  background: -webkit-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -o-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -ms-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  text-shadow: 0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.3);
  box-shadow: inset -1px 0px 0px 1px rgba(000,000,000,0.2),
      0 2px 5px rgba(0,0,0,0.4);
  -webkit-transition: top 0.4s ease-in-out 0s;
  -moz-transition: top 0.4s ease-in-out 0s;
  transition: top 0.4s ease-in-out 0s;
  .show {
    top: 0;
  }
  ul {
    width: 100%;
    padding-left: 30px;
  }
  a {
    float: left;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 0 #000;
    &:hover, &.current {
      @include current-li;
    }
  }
  li.last {
    a {
      float: right;
      margin-right: 30px;
      padding: 10px;
      margin: 10px 45px 10px 10px;
      &:hover {
        border-radius: 50em;
      }
    }
  }
}

#wrapper {
  border: 1px solid #c7c7c7;
  margin: 0 auto;
  width: 100%;
  height: 2500px;
  position: relative;
  background: url(../images/bg.png) repeat;
  overflow: hidden;
}

#myInfo {
  position: absolute;
  top: 200px;
  left: 20px;
  h1 {
    font: 66px/80px 'SilkscreenNormal', Arial, sans-serif;
    letter-spacing: 1px;
    color: #0f754f;
    text-shadow: 1px 2px 0 rgba(255,255,255,0.1),
        -2px -1px 0 rgba(0,0,0,0.3), 0 3px 0 rgba(255,255,255,0.3);
    margin-bottom: -10px;
  }
  h2 {
    font: 18px/27px 'SilkscreenNormal', Arial, sans-serif;
    margin-left: 7px;
    letter-spacing: 1px;
  }
}

// Start Text
#startText {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 200px;
  margin-left: -96px;
  z-index: 20;
  text-align: center;
  -webkit-animation: fade 2.5s ease infinite;
  -moz-animation: fade 2.5s ease infinite;
  animation: fade 2.5s ease infinite;
  img {
    width: 80px;
    display: block;
    margin: 0 auto 5px;
    padding-right: 4px;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// View
.cave {
  position: absolute;
  left: 0;
  background: url(../images/caveBG.png) repeat;
  width: 100%;
  z-index: 50;
}

.caveHole {
  position: absolute;
  left: 50%;
  width: 50px;
  background: rgba(0,0,0,1);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px 10px 0 0;
  margin-left: -25px;
  z-index: 52;
}

.caveHoleTrack {
  position: absolute;
  left: 50%;
  width: 200px;
  background: url(../images/caveBG.png) repeat;
  margin-left: -100px;
  z-index: 54;
}

#startCave {
  top: 0;
  height: 100px;
  &:after {
    position: absolute;
    bottom: -23px;
    left: 0;
    background: url(../images/caveBottomBG.png) repeat;
    height: 32px;
    width: 100%;
    z-index: 51;
    content: "";
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  }
}

#startCaveHole {
  top: 94px;
  border-bottom: none;
  height: 28px;
}

#startCaveHoleTrack {
  top: 0;
  height: 92px;
}

// Roads
.road {
  position: absolute;
  background: url(../images/road.png) repeat;
  &.side {
    width: 50%;
    height: 200px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    &:before {
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 15px;
      background: url(../images/fenceHor.png) repeat-x top;
      content: "";
    }
    &:after {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 15px;
      background: url(../images/fenceHor.png) repeat-x top;
      content: "";
    }
  }
}

#mainRoad {
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 8;
  left: 50%;
  margin-left: -100px;
}

#leftFence {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  margin-left: -106px;
  background: url(../images/fenceVer.png) repeat-y top;
}

#rightFence {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  margin-left: 102px;
  background: url(../images/fenceVer.png) repeat-y top;
}

#aboutRoad {
  left: 0;
  top: 500px;
}

.trees {
  position: absolute;
  background: url(../images/tree.png) repeat 0 0;
}

#rightTrees {
  right: 50%;
  width: 64px;
  top: 125px;
  height: 100%;
  margin-right: -172px;
}

.grass {
  position: absolute;
  background: url(../images/grass.png) repeat 0 0;
}

#leftGrass {
  left: 50%;
  width: 30px;
  top: 125px;
  height: 100%;
  margin-left: -136px;
}

.sea {
  position: absolute;
  left: 0;
  background: url(../images/sea.png) repeat;
  width: 100%;
  z-index: 50;
}

#endSea {
  bottom: 0;
  height: 800px;
  -webkit-animation: seamove 6s linear infinite;
  -moz-animation: seamove 6s linear infinite;
  animation: seamove 6s linear infinite;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/seaStart.png) repeat center bottom;
    width: 100%;
    height: 9px;
    content: "";
    box-shadow: 0 4px 3px rgba(0,0,0,0.3);
    z-index: 51;
  }
}

.bridge {
  position: absolute;
  left: 50%;
  width: 210px;
  background: url(../images/bridge.png) repeat-y;
  margin-left: -105px;
  z-index: 52;
}

#endBridge {
  bottom: 600px;
  height: 200px;
  &:after {
    position: absolute;
    bottom: -16px;
    left: 0;
    background: url(../images/endCaveAfterBG.png) repeat center bottom;
    width: 100%;
    height: 16px;
    content: "";
    z-index: 51;
  }
}

.flowers {
  position: absolute;
  width: 32px;
  height: 28px;
  background: url(../images/flowers.png) repeat left top;
  z-index: 49;
  &.r1 {
    top: 470px;
    right: 170px;
  }
  &.r2 {
    top: 140px;
    left: 10px;
  }
  &.r3 {
    top: 225px;
    right: 65px;
  }
  &.r4 {
    top: 400px;
    left: 80px;
  }
  &.r5 {
    top: 7000px;
    right: 180px;
  }
  &.r6 {
    top: 870px;
    left: 180px;
  }
  &.r7 {
    top: 1240px;
    left: 280px;
  }
  &.r8 {
    top: 1030px;
    right: 30px;
  }
  &.r9 {
    top: 1500;
    left: 30px;
  }
  &.r10 {
    top: 1600px;
    right: 100px;
  }
  &.r11 {
    top: 1670px;
    left: 140px;
  }
  &.r12 {
    top: 1340px;
    right: 210px;
  }
}

#boat {
  position: absolute;
  bottom: 500px;
  left: 50%;
  width: 420px;
  height: 194px;
  margin-left: -210px;
  cursor: pointer;
  background: url(../images/boat.png) no-repeat center;
  z-index: 53;
  -webkit-transition: all 5s linear 1.5s;
  -moz-transition: all 5s linear 1.5s;
  transition: all 5s linear 1.5s;
  .sail {
    left: -20%;
  }
  .sailBack {
    left: 100%;
    margin-left: 0;
  }
  .meSail {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 32px;
    height: 32px;
    background: url(../images/walkingMe.png) no-repeat 0 -32px;
    display: none;
    z-index: 54;
  }
}

#contact {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 500px;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  color: #fff;
  opacity: 0;
  z-index: 51;
  -webkit-transition: all 1s linear 2.5s;
  -moz-transition: all 1s linear 2.5s;
  transition: all 1s linear 2.5s;
  h1 {
    font-family: 'SilkscreenNormal';
    font-size: 52px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
  }
  > p {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8)
  }
}

// Me
#author {
  position: absolute;
  top: 20px;
  left: 8px;
  background: url(../images/walkingMe.png) no-repeat -32px 0;
  width: 32px;
  height: 32px;
  z-index: 53;
  &:after {
    position: absolute;
    bottom: -4px;
    left: 7px;
    background: rgba(0,0,0,0.3);
    width: 18px;
    height: 8px;
    content: "";
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  .down {
    background: url(../images/walkingMe.png) no-repeat -32px 0;
  }
  .up {
    background: url(../images/walkingMe.png) no-repeat 0 -96px;
  }
  .right {
    background: url(../images/walkingMe.png) no-repeat 0 -64px;
  }
  .left {
    background: url(../images/walkingMe.png) no-repeat 0 -32px;
  }
}

// Messages
#notifications {
  position: fixed;
  bottom: -60px;
  left: 10%;
  width: 80%;
  height: 50px;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  z-index: 790;
  text-shadow: 1px 1px 0 #fff;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #e0e3e5 100%);
  background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%, #fff), color-stop(100%, #e0e3e5));
  background: -webkit-linear-gradient(top, #fff 0%, #e0e3e5 100%);
  background: -o-linear-gradient(top, #fff 0%, #e0e3e5 100%);
  background: -ms-linear-gradient(top, #fff 0%, #e0e3e5 100%);
  background: linear-gradient(top, #fff 0%, #e0e3e5 100%);
  -webkit-transition: bottom 0.4s ease-in-out 0s;
  -moz-webkit-transition: bottom 0.4s ease-in-out 0s;
  transition: bottom 0.4s ease-in-out 0s;
  .inner {
    padding: 20px 40px 20px 50px;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #a7a7a7;
    cursor: pointer;
    &:hover {
      color: #444;
    }
  }
}

// Loading game
#loadingGame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  z-index: 999;
}

#innerLoading {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -100px;
  text-align: center;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  span {
    color: #909090;
    font-size: 12px;
  }
  .me {
    width: 32px;
    height: 32px;
    background: url(../images/walkingMe.png) no-repeat 0 0;
    margin: 0 auto 10px;
  }
}

#howToPlay {
  // display: none;
}

@-webkit-keyframes seamove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 65px 0;
  }
}

@-moz-keyframes seamove {
  // firefox support
}

@-keyframes seamove {
  // future browsers support
}
