@font-face {
  font-family: 'SilkscreenNormal';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slkscr-webfont.woff") format("woff"); }

@font-face {
  font-family: 'SilkscreenBold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/slkscrb-webfont.woff") format("woff"); }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font: 11px/14px 'SilkscreenBold', Arial, sans-serif; }

nav {
  position: fixed;
  top: -85px;
  height: 55px;
  left: 50%;
  width: 960px;
  margin: 10px 0 0 -480px;
  text-align: center;
  color: #fff;
  z-index: 800;
  border: 3px solid #fff;
  border-radius: 30px;
  background: #4f2e26;
  background: -moz-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f2e26), color-stop(100%, #2a1410));
  background: -webkit-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -o-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: -ms-linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  background: linear-gradient(top, #4f2e26 0%, #2a1410 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset -1px 0px 0px 1px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 0.4s ease-in-out 0s;
  -moz-transition: top 0.4s ease-in-out 0s;
  transition: top 0.4s ease-in-out 0s; }
  nav .show {
    top: 0; }
  nav ul {
    width: 100%;
    padding-left: 30px; }
  nav a {
    float: left;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 1px 1px 0 #000; }
    nav a:hover {
      background: rgba(0, 0, 0, 0.3);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
  nav a.current {
    background: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  nav li.last a {
    float: right;
    margin-right: 30px;
    padding: 10px;
    margin: 10px 45px 10px 10px; }
    nav li.last a:hover {
      border-radius: 50em; }

#wrapper {
  border: 1px solid #c7c7c7;
  margin: 0 auto;
  width: 100%;
  height: 2500px;
  position: relative;
  background: url(../images/bg.png) repeat;
  overflow: hidden; }

#myInfo {
  position: absolute;
  top: 200px;
  left: 20px; }
  #myInfo h1 {
    font: 66px/80px 'SilkscreenNormal', Arial, sans-serif;
    letter-spacing: 1px;
    color: #0f754f;
    text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.1), -2px -1px 0 rgba(0, 0, 0, 0.3), 0 3px 0 rgba(255, 255, 255, 0.3);
    margin-bottom: -10px; }
  #myInfo h2 {
    font: 18px/27px 'SilkscreenNormal', Arial, sans-serif;
    margin-left: 7px;
    letter-spacing: 1px; }

#startText {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -96px;
  z-index: 20;
  text-align: center;
  -webkit-animation: fade 2.5s ease infinite;
  -moz-animation: fade 2.5s ease infinite;
  animation: fade 2.5s ease infinite; }
  #startText img {
    width: 80px;
    display: block;
    margin: 0 auto 5px;
    padding-right: 4px; }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-keyframes fade {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.cave {
  position: absolute;
  left: 0;
  background: url(../images/caveBG.png) repeat;
  width: 100%;
  z-index: 50; }

.caveHole {
  position: absolute;
  left: 50%;
  width: 50px;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 0 0;
  margin: 0 0 0 -25px;
  z-index: 52; }

#startCave {
  top: 0;
  height: 100px; }
  #startCave:after {
    position: absolute;
    bottom: -23px;
    left: 0;
    background: url(../images/caveBottomBG.png) repeat;
    height: 32px;
    width: 100%;
    z-index: 51;
    content: "";
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }

#startCaveHole {
  top: 94px;
  border-bottom: none;
  height: 28px; }

#notifications {
  position: fixed;
  bottom: -60px;
  left: 10%;
  width: 80%;
  height: 50px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  z-index: 790;
  text-shadow: 1px 1px 0 #fff;
  background: #fff;
  background: -moz-linear-gradient(top, white 0%, #e0e3e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e3e5));
  background: -webkit-linear-gradient(top, white 0%, #e0e3e5 100%);
  background: -o-linear-gradient(top, white 0%, #e0e3e5 100%);
  background: -ms-linear-gradient(top, white 0%, #e0e3e5 100%);
  background: linear-gradient(top, white 0%, #e0e3e5 100%);
  -webkit-transition: bottom 0.4s ease-in-out 0s;
  -moz-webkit-transition: bottom 0.4s ease-in-out 0s;
  transition: bottom 0.4s ease-in-out 0s; }
  #notifications .inner {
    padding: 20px 40px 20px 50px; }
  #notifications .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #a7a7a7;
    cursor: pointer; }
    #notifications .close:hover {
      color: #444; }

#loadingGame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  z-index: 999; }

#innerLoading {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -100px;
  text-align: center;
  font-family: 'Lekton', Helvetica, Arial, sans-serif; }
  #innerLoading p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold; }
  #innerLoading span {
    color: #909090;
    font-size: 12px; }
  #innerLoading .me {
    width: 32px;
    height: 32px;
    background: url(../images/walkingMe.png) no-repeat 0 0;
    margin: 0 auto 10px; }

/*
.road {
  position: absolute;
  background: url(../images/road.png) repeat;
}

.trees {
  position: absolute;
  background: url(../images/tree.png) repeat 0 0;
}

.sea {
  left: 0;
  width: 100%;
  height: 800px;
  background: url(../images/sea.png) repeat 0 0;
  -webkit-animation: seamove 6s linear infinite;
  -moz-animation: seamove 6s linear infinite;
  animation: seamove 6s linear infinite;
}

@-webkit-keyframes seamove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 65px 0;
  }
}
*/
@-moz-keyframes seamove {}
@-keyframes seamove {}
/*
#boat {
  position: absolute;
  bottom: 500px;
  left: 50%;
  margin-left: -210px;
  width: 420px;
  height: 194px;
  background: url(../images/boat.png) no-repeat center;
  -webkit-transition: all 5s linear 1.5s;
  -moz-transition: all 5s linear 1.5s;
  transition: all 5s linear 1.5s;
}

#boat.sail {
  left: -20%;
}

#contact.show {
  opacity: 1;
}
*/
